<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {{ style('style') }}

    <title>
        @!section('title')
    </title>

</head>
<body>

    @loggedIn
        @include('layouts._navbar')
    @endloggedIn
    
    <div class="container-fluid mt-5">
        @!section('content')
    </div>
    
    @!include('layouts._script')

</body>
</html>